.admin-layout {
  display: flex;
  flex-direction: row;
}

.left {
  width: 250px;
  border-right: 3px solid grey;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 999;
}

.right {
  width: 100%;
  margin-left: 250px;
}

.main {
  min-height: 80vh;
  padding: 1rem;
}
