.side-bar-menu {
  padding: 2rem;
}

a.logo {
  text-decoration: none;
}
.logo {
  color: black;
  font-size: 2rem;
}

ul,
li,
a.menu-item {
  list-style: none;
  line-height: 4rem;
  text-decoration: none;
  color: black;
}

.menu-list {
  font-size: 1.5rem;
}
