.custom-card {
  background: rgba(167, 126, 126, 0.404) !important;
  min-height: 180px;
  padding: 1rem;
  border-radius: 10px;
  width: 300px;
}

.card-top {
  font-size: 7rem;
}

.card-data {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px 15px;
  background: rgba(102, 91, 91, 0.404);
  border-radius: 10px;
}
