/* ================= Registration Page =================== */

.register-page{

}

.reg-form{
    width:500px;
    margin: auto;
    margin-top: 20vh;
    box-shadow: -5px 5px 5px 5px rgb(95, 94, 94);
}